/* .swiper-button-prev{
    margin-right: -20px;
}

.swiper-button-next {
    margin-left: -20px;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 10px;
    font-weight: 900;
    color: #b7b0b0;
    background: #ffffff;
    padding: 11px 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    
}

